__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
test_env/
*.log
*.pot
*.mo
.DS_Store
Thumbs.db
build/
dist/
*.egg-info/
*.spec


node_modules/
.next/
web-client/node_modules/
web-client/.next/

web-client/public/uploads/
